
<div class="pure-u-1"> 
<h1>Login</h1> 
  <%= form_for :session, url: sessions_path,:html => {class: 'pure-form', id: "login"} do |f| %>
  <fieldset>
      <%= f.text_field :username, placeholder: 'username',:required => true %>
      <%= f.password_field :password,placeholder: 'password',:required => true %>
      <%= f.submit "Login",class: 'pure-button'%>
     <%end%>
</fieldset>
<div>
  <span>-------</span>  or <span>-------</span>
</div><br>
<%=link_to image_tag("fblogin.png"), "/auth/facebook", id: "fblogin" %>
<%=link_to image_tag("googlelogin.png",:size => "176x31",id: 'glog'), "/auth/google_oauth2" %>
<%=link_to image_tag("twitter.png",:size => "176x31",id: 'twlog'), "/auth/twitter" %>
