
<div class="pure-u-1"> 
<h1>Login</h1> 
  <%= form_for :session, url: sessions_path,:html => {class: 'pure-form', id: "login"} do |f| %>
  <fieldset>
      <%= f.text_field :username, placeholder: 'username',:required => true %>
      <%= f.password_field :password,placeholder: 'password',:required => true %>
      <%= f.submit "Login",class: 'pure-button'%>
     <%end%>
</fieldset>
<%=image_tag("facebook_32.png")%><%=link_to 'Login With Facebook', "/auth/facebook" %>
<%=link_to "Sign in with Google", "/auth/google_oauth2" %>
<%=image_tag("twitter_32.png")%><%=link_to "Sign in with Twitter", "/auth/twitter" %>
