<h1>Login</h1>

<%= link_to "Skip to Restaurants", restaurants_path %>

<%= form_for :session, url: sessions_path do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>