<div id="rest_show_name"><%= @restaurant.name   %></div>
<div>
  <%= link_to 'Add a Dish', "/#{@restaurant.url}/dishes/new" %>
</div>

<%= form_tag restaurants_path, :id => "search_form", :method => 'get', class: "pure-form" do %>
  <fieldset>
    <%= text_field_tag :search, params[:search], :id => "search_field" %>
    <%= submit_tag "Search", :class => "pure-button ", :name => nil %>
  </fieldset>
<% end %>

<ul class="dish_categories">
  <% @categories.each do |c| %>
    <li>
      <%= c %>
    </li>
  <% end %>
</ul>

<% @dishes.each do |d| %>
  <%= render partial: 'flip', :locals => {:dish => d} %>
<% end %>