<div onclick="TINY.box.show({url:'desc', get:'url=<%= @restaurant.url %>'})" id="rest_show_name"><%= @restaurant.name	 %></div>

<div>
	<%= link_to 'Add a Dish', "/#{@restaurant.url}/dishes/new" %>
</div>

<div class="menu">
	<ul class="tab_header" >
		<li id="starters_tab">Starters</li>
		<li id="entrees_tab">Entrees</li>
		<li id="desserts_tab">Desserts</li>
	</ul>

	<ul class = "starters tab">
		<% @dishes.starters.each do |s| %>
			<li class = "card">
				<div class = "card_pic">
					test
				</div>
				<div id="card_desc">
					<%= link_to s.name, s %>
				</div>
			</li>
		<% end %>
	</ul>

	<ul class = "entrees hidden tab">
		<% @dishes.entrees.each do |e| %>
			<li class = "card" >
				<div class = "card_pic">

				</div>
				<div id="card_desc">
					<%= link_to e.name, e %>
				</div>
			</li>
		<% end %>
	</ul>

	<ul class = "desserts hidden tab">
		<% @dishes.desserts.each do |d| %>
			<div class = "card_pic">

			</div>
			<li class = "card" >
				<div id="card_desc">
					<%= link_to d.name, d %>
				</div>
			</li>
		<% end %>
	</ul>
</div>