Menu For: <%= @restaurant.name %>


<div>
  <% @dishes.each do |dish| %>
    <div class="card">
      <p><%= link_to dish.name, "/#{@restaurant.url}/#{dish.url}" %> <%= dish.price %></p>
      <%= image_tag "http://lorempixel.com/300/300/food" %>
      <p><%= dish.description %></p>
    </div>
  <% end %>
</div>