<div class="rest_header" >
  <div id="rest_show_name"><%= @restaurant.name %></div>
  <div id="rest_show_addr"><%= @restaurant.address %> <%= @restaurant.city %>, <%= @restaurant.state %></div>

  <%= form_tag "/#{@restaurant.url}/dishes", :id => "search_form", :method => 'get', class: "pure-form" do %>
    <fieldset>
      <%= text_field_tag :search, params[:search], :id => "search_field", placeholder: "dish name, or category"%>
      <%= submit_tag "Search", :class => "pure-button ",id: 'search_button', :name => nil %>
    </fieldset>
  <% end %>
</div>


<div >
  <%= link_to 'Add a Dish', "/#{@restaurant.url}/dishes/new",id: 'addr',class: 'addrest' %>
</div>

<ul class="dish_categories">
  <li id="category_0"><button type="button" value="All Dishes" >All Dishes</button></li>
  <% @categories.each_with_index do |c, i| %>
    <li id="category_<%= i+1 %>">
      <button type="button" value="<%=c.chomp%>" ><%=c.chomp%></button>
    </li>
  <% end %>
</ul>

<%= will_paginate @dishes, class: 'pagination dishpages' %>
<%= will_paginate @dishes, :page_links => false, class: 'mobilepag' %>
<div class="dish_layout">
  <% @dishes.each_with_index do |d, i| %>
    <%= render partial: 'flip', :locals => {:dish => d,:i => i} %>
  <% end %>
</div>

<div class="js_data">
  <div id="url"><%= @restaurant.url if @restaurant %></div>
</div>
