<div id="rest_show_name"><%= @restaurant.name	 %></div>
<div>
  <%= link_to 'Add a Dish', "/#{@restaurant.url}/dishes/new" %>
</div>

<div class="menu">
  <ul class="tab_header" >
    <li id="starters_tab">Starters</li>
    <li id="entrees_tab" class = "unselected_tab">Entrees</li>
    <li id="desserts_tab" class = "unselected_tab">Desserts</li>
  </ul>

  <ul class = "starters tab">
    <% @dishes.starters.each do |d| %>
      <li class = "card">
        <%= render partial: 'flip', :locals => {:dish => d } %>
      </li>
    <% end %>
  </ul>

  <ul class = "entrees hidden tab">
    <% @dishes.entrees.each do |d| %>
      <li class = "card" >
        <%= render partial: 'flip', :locals => {:dish => d } %>
      </li>
    <% end %>
  </ul>

  <ul class = "desserts hidden tab">
    <% @dishes.desserts.each do |d| %>
      <li class = "card" >
        <%= render partial: 'flip', :locals => {:dish => d } %>
      </li>
    <% end %>
  </ul>
</div>