<div class='pure-g-r'>
  <div class="pure-u-1-2" id='description'>
    <div id='dishdesc'>
      <h1 class="dish_name"><%= @dish.name.titleize %></h1>
      <h3 class="dish_price">Price: <%= @dish.price %></h3>
      <h2 class="dish_description"><%= @dish.description.capitalize %></h2>
      <p> There are  <%= @photos.count %> photos for this dish </p>
      <div id='uploadbox'>
        <button id="review_button" type="review_button">Reviews</button>
        <%= link_to 'Upload A Photo', "/uploads/#{@dish.id}",id: 'upload'%>
    </div>
    </div>
  </div>
</div>
<div class="pure-g-r" id='photogrid'>   
  <% @photos.each do |photo| %>
  <div class="pure-u-1-3 dish">
       <a class='gallery' href='<%=photo.image.url(:original)%>'><%= image_tag photo.image.url(:medium), class: "dish_photo" %></a>
  </div>
  <%end%>
  <script>
    $('a.gallery').colorbox({maxWidth:'80%',maxHeight:'80%'});
  </script>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @photos.each do |photo| %>
      <div class="swiper-slide">
        <%= image_tag photo.image.url(:medium), class: "dish_photo" %>
      </div>
    <% end %>
  </div>
</div>

<div id="tab">
  <div id="review_form">
    <a> <button id="close_button" type="review_button">Close</button> </a>
    <ul id="hide">
      <%= form_for(:comments, :url => comments_path, :method => :post) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content, :size => "33x5", :required => true %>
          <%= hidden_field_tag 'comments[dish_id]', @dish.id %>
        </p>
        <p>
          <%= f.label :rating %><br>
          <%= f.radio_button :rating, '1', :checked => true %> 1
          <%= f.radio_button :rating, '2' %> 2
          <%= f.radio_button :rating, '3' %> 3
          <%= f.radio_button :rating, '4' %> 4
          <%= f.radio_button :rating, '5' %> 5
          <%= f.radio_button :rating, '6' %> 6
          <%= f.radio_button :rating, '7' %> 7
          <%= f.radio_button :rating, '8' %> 8
          <%= f.radio_button :rating, '9' %> 9
          <%= f.radio_button :rating, '10' %> 10
        </p>
        <p>
          <%= f.submit "Post Review" %>
        </p>
      <% end %>
    </ul>
  </div>
  <div id="review_show">
    <table>
      <tr>
        <% if @comment.length > 0 %>
          Last Comment: <%= @comment_content %><br>
          Commenter: <%= @usercommenter.first.username %><br>
          Rating Count: <%= @averagerating.length %><br>
          Average Rating: <%= @avr %>
        <% else %>
          <%= @norating %>
        <% end %>
      </tr>
    </table>
  </div>
</div>





