<div class="card">
  <p>Name: <%= @dish.name.titleize %></p>
  <p>Price: <%= @dish.price %></p>

  <ul id="Gallery">
    <% @photos.each do |photo| %>
      <li><a><%= image_tag photo.image.url(:medium) %></a></li>
    <% end %>
  </ul>
  <section class="main-content"> 
    <h2>Preview:</h2>
    <p><img src="about:blank" alt="" id="show-picture"></p>
    <p id="error"></p>
  </section>

  <p>Category: <%= @dish.category %> </p>
  <p>Description: <%= @dish.description %></p>
</div>


<%= form_for(@photo) do |f| %>
  <div class="field">
    <%= hidden_field_tag 'photo[dish_id]', @dish.id %>
    <%= f.label :image %>
    <%= f.file_field :image, id: "take-picture", accept: "image/*" %>
  </div>
  <div>
    <%= f.submit 'Save to database' %>
  </div>
<% end %>


<!-- CODE BELOW FLIPS IMAGES
 -->

</div>