<div class="show_dish">
<div id='dishdesc'>
  <h1 class="dish_name">Name: <%= @dish.name.titleize %></h1>
  <h3 class="dish_price">Price: <%= @dish.price %></h3>
  <h2 class="dish_description">Description: <%= @dish.description %></h2>
  <p> There are  <%= @photos.count %> photos for this dish </p>
</div>

 <div class="pure-g" id='photogrid'>   
  <% @photos.each do |photo| %>
  <div class="pure-u-1-3">
       <a id='dish_photo'class='gallery' href='<%=photo.image.url(:original)%>'><%= image_tag photo.image.url(:medium), class: "dish_photo" %></a>
  </div>
  <%end%>
  <script>
    jQuery('a.gallery').colorbox({maxWidth:'80%',maxHeight:'80%'});
  </script>
</div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @photos.each do |photo| %>
        <div class="swiper-slide">
          <%= image_tag photo.image.url(:medium), class: "dish_photo" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_for(@photo) do |f| %>
    <div class="field">
      <%= hidden_field_tag 'photo[dish_id]', @dish.id %>
      <%= f.file_field :image, id: "take-picture", accept: "image/*"%>
    </div>
    
    <div id="save_to_db">
      <%= f.submit 'Save to database'%>
    </div>
  <% end %>

</div>



