<div class = "card" id="card-<%= index %>">
  <div class="front side">
    <div class = "card_pic">
      <% if restaurant.photos.count > 0 %>
        <%= image_tag restaurant.photos.first.image.url(:medium), class: "restaurant_dish_photo" %>
      <% else %>
        <%= image_tag 'no_photos.png' %>
      <% end %>
    </div>
    <div class="card_desc">
      <div class="card_url"><%=link_to restaurant.name, "/#{restaurant.url}/dishes" %></div> - 
      <%= restaurant.cuisine %>
    </div>
  </div>

  <div class="back side">
    <div class = "rest_text">
      <div class="rest_top">
        <%= restaurant.name %><br>
        <%= restaurant.cuisine %><br><br>
      </div>
      <div class = "rest_bot">
        <%= restaurant.address %><br>
        <%= restaurant.city %>, <%= restaurant.state %><br>
        <%= restaurant.zip %><br>
        <%= link_to "View Menu", "/#{restaurant.url}/dishes" %>
      </div>
    </div>
    <div class = "gmap hidden" id="map-canvas-<%= index %>"></div>
    <div class="actions">
        </div>
  </div>
</div>

