<div class = "card" id="card-<%= index %>">
	<div class="front">
		<div class = "card_pic">
			Photo goes here
		</div>
		<div id="card_desc">
			<div id="rest_dish_link"><%=link_to restaurant.name, "/#{restaurant.url}/dishes" %></div> - 
			<%= restaurant.cuisine %>
		</div>
	</div>

	<div class="back">
			<span class="friend-name">
				<div class = "rest_text">
					<div class="rest_top">
						<div id="rest_name"><%= restaurant.name %></div><br>
						<%= restaurant.cuisine %><br><br>
					</div>
					<div class="rest_mid"></div>
					<div class = "rest_bot">
						<div id="rest_addr"><%= restaurant.address %></div><br>
						<%= restaurant.city %>, <%= restaurant.state %><br>
						<%= restaurant.zip %><br>
						<%= link_to "View Menu", "/#{restaurant.url}/dishes" %>
					</div>
				</div>
				<div class = "gmap" id="map-canvas-<%= index %>"></div>
			</span>
	  <div class="actions">
		</div>
	</div>
</div>