<div class="pure-g-r">
  <div class="pure-u-1">
    <h1 class='list'>Restaurant List (Please Rename Me) </h1>
    <%= form_tag restaurants_path, :id => "search_form", :method => 'get', class: "pure-form" do %>
    <fieldset>
      <%= text_field_tag :search, params[:search], :id => "search_field", :placeholder => "Restaurant name, cuisine, zip" %>
      <%= submit_tag "Search", :class => "pure-button ", :name => nil %>
    </fieldset>
    <% end %>
    <%= link_to "Add a Restaurant", new_restaurant_path %>
  </div>
</div>
<div class="pure-g">
<div class="pure-u-1 pagination">
  <%= will_paginate @posts, :page_links => false,class: 'mobilepag' %>
  <%= will_paginate @restaurants,class: 'pag'%>
</div>
</div>
<div id='restlist' class="cf">
  <%= render "search_results", :object => @restaurants %>
</div>
<div class="pure-g">
<div class="pure-u-1 pagination">
  <%= will_paginate @posts, :page_links => false,class: 'mobilepag' %>
  <%= will_paginate @restaurants,class: 'pag'%>
</div>
</div>
